
.neon {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #1855fff5, 0 0 80px #1855fff5, 0 0 90px #1855fff5, 0 0 100px #1855fff5, 0 0 150px #1855fff5;
    margin: 30px;
    margin-left: 900px;
    position: absolute;
    font-size: 41px;
}

/*اسم المنتدى مرتبط بجافا*/
h1 {
display: inline-block;
font-family: arial;
position: relative;
}
.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 10px;
background-color: #fff;
z-index: 1;
}
/*La fenetre notification des derniers sujets*/
    #M14_notifLastSujet
    {
    background-color: #333;
    border-radius: 5px;
    opacity: .8;
    padding: 10px;
    position:fixed;
    top:60px;
    right:10px;
    width:300px;
    height:300px;
    overflow:auto;

    }
    /*Chaque ligne de notification*/
    #M14_notifLastSujet .M14_getNotif{color:white !important;line-height: 20px;font-size: 10px !important;}
    /*Les liens de notification*/
    #M14_notifLastSujet a.M14_lastNotif{color:white !important;font-size: 10px !important;margin: 0px 2px 0px 2px;text-decoration:none !important;}
    /*Les Pseudos dans la notification*/
    #M14_notifLastSujet .M14_getNotif a[href^="/u"]{font-size: 10px !important;text-decoration:none !important;}
    /*On supprime tout ce qui est inutile*/
    #M14_notifLastSujet .M14_NotifNone{display:none;}
    /*On donne une hauteur et une largeur a l image*/
    #M14_notifLastSujet .M14_Symbole img{width:16px!important;height:16px !important;vertical-align:middle;}

    /*منيل على الواجهة */
.fgh {
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
}

.yu-item, .fgh-open-button {
    background: #3c3c38f2;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    /* margin-left: 100px; */
    position: absolute;
    /* top: -10px; */
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.fgh-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.fgh-open:checked + .fgh-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}

.fgh-open:checked + .fgh-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.fgh-open:checked + .fgh-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.fgh {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  padding-top: 20px;
  padding-left: 80px;
  width: 650px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.yu-item:hover {
  background: white;
  color: #ffc107;
}

.yu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.yu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.yu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.yu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.fgh-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.fgh-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.fgh-open:checked + .fgh-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.fgh-open:checked ~ .yu-item {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fgh-open:checked ~ .yu-item:nth-child(3) {
  -webkit-transition-duration: 170ms;
          transition-duration: 170ms;
  -webkit-transform: translate3d(80px, 0, 0);
          transform: translate3d(80px, 0, 0);
}

.fgh-open:checked ~ .yu-item:nth-child(4) {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transform: translate3d(160px, 0, 0);
          transform: translate3d(160px, 0, 0);
}

.fgh-open:checked ~ .yu-item:nth-child(5) {
  -webkit-transition-duration: 330ms;
          transition-duration: 330ms;
  -webkit-transform: translate3d(240px, 0, 0);
          transform: translate3d(240px, 0, 0);
}

.fgh-open:checked ~ .yu-item:nth-child(6) {
  -webkit-transition-duration: 410ms;
          transition-duration: 410ms;
  -webkit-transform: translate3d(320px, 0, 0);
          transform: translate3d(320px, 0, 0);
}

/*Colorisation des sujets ayant recu un nouveau message*/
tr.M14_color a.topictitle {color:green !important;}
/*Colorisation des sujets verrouilles*/
tr.M14_color_close a.topictitle {color:red !important;}

 

/*الجواب التلقائى*/
a.M14_Auteur
{
margin-left:5px;
text-decoration:none !important;  
}
/*Avatar*/
img.M14_Avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
    background: #bbdefb;
    margin-top: -40px;
}
/*Le corps du message*/
#M14_postbody
{
font-style:italic;
font-size:14px;
color:red;
}
span.name {
    margin-right: 600px;
    margin-top: 40px;
}
      

/*وضع خلفية لاسم العضو 
a[href^="/u1"] span strong{
  background-image: url(http://www.bloggif.com/img/glitter/2221.gif)!important;
  background: #ccc;
    border: 2px solid #fff;
    border-radius: 10px 25px/25px 10px;-moz-border-radius: 10px 25px/25px 10px;-webkit-border-radius: 10px 25px/25px 10px;
    padding: 0px 5px 0px 5px;
    box-shadow: 0px 0px 5px #000;-moz-box-shadow: 0px 0px 5px #000;-webkit-box-shadow: 0px 0px 5px #000;
 }  */ 
        .prefix {
            background: #008287 none repeat scroll 0 0;
            border-radius: 2px;
            color: #fff !important;
            display: inline-block !important;
            height: 18px;
            line-height: 18px;
            padding: 0 12px !important;
        }
        .prefix.جديد {
            background: #e20d0d none repeat scroll 0 0 !important;
            color: rgba(0, 0, 0, 0);
            display: table;
        }
        .prefix.حصري {
            background: #170de2 none repeat scroll 0 0 !important;
            color: rgba(0, 0, 0, 0);
            display: table;
        }
        .prefix.عاجل {
            background: #8fe20d none repeat scroll 0 0 !important;
            color: rgba(0, 0, 0, 0);
            display: table;
        }
        .prefix.css {
            background: #e28a0d none repeat scroll 0 0 !important;
            color: rgba(0, 0, 0, 0);
            display: table;
        }
        .prefix.هام {
            background: #B60486 none repeat scroll 0 0 !important;
            color: rgba(0, 0, 0, 0);
            display: table;
        }
        .prefix.مميز {
            background: #047DB6 none repeat scroll 0 0 !important;
            color: rgba(0, 0, 0, 0);
            display: table;
        }

/* jssor slider loading skin spin css */
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

         #jssor_1 {position: relative;margin: 0px auto;top: 0px;left: 0px;width: 906px;height: 392.583px;overflow: hidden;visibility: visible;}
        .jssorb111 .i {position:absolute;color:#fff;font-family:"Helvetica neue",Helvetica,Arial,sans-serif;text-align:center;cursor:pointer;z-index:0;}
        .jssorb111 .i .n {display:none;}
        .jssorb111 .i .b {fill:#fff;stroke:#000;stroke-width:500;stroke-miterlimit:10;stroke-opacity:.5;}
        .jssorb111 .i:hover .b {fill:#fea900;stroke:#fea900;stroke-width:6000;stroke-opacity:1;}
        .jssorb111 .iav .b {fill:#000;stroke-width:6000;stroke-opacity:1;}
        .jssorb111 .i.idn {opacity:.3;}
        .jssorb111 .iav .n, .jssorb111 .i:hover .n {display:block;}

        .jssort121 .p {position:absolute;top:0;left:0;border-bottom:1px solid rgba(255,255,255,.2);box-sizing:border-box;color:#fff;background:rgba(0,0,0,.1);opacity:.7;}
        .jssort121 .p .t {position:absolute;padding:10px;box-sizing:border-box;top:0;left:0;width:100%;height:100%;line-height:24px;overflow:hidden;}
        .jssort121 .p .i {margin-right:10px;position:relative;top:0;left:0;width:96px;height:48px;border:none;float:left;}
        .jssort121 .pav, .jssort121 .p:hover {color:#000;background:rgba(255,255,255,.7);}
        .jssort121 .p:hover {opacity:.75;}
        .jssort121 .pav, .jssort121 .p:hover.pdn {opacity:1;}
        .jssort121 .ti {position:relative;font-size:14px;font-weight:bold;}
        .jssort121 .d {position:relative;font-size:12px;}
        /*.jssort121 .d:before {content:'\a';white-space:pre;}*/



/* hide-desktop-hide-mobile */
.hide-desktop-wdbloog {
  display: none;
}
.hide-mobile-wdbloog {
  display: block;
}
@media screen and (max-width : 1000px){
.hide-desktop-wdbloog {
  display: block;
}
.hide-mobile-wdbloog {
  display: none;
}
}

/* share-selection */
.timeline {
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    right: 30px;
  top: 190px;
    width: 2px;
    height: 50%;
    background: #0A74DA;
}
.timeline .bar {
    position: absolute;
    width: 2px;
    background-color: #ff240a;
    top: 0;
    left: 0;
    z-index: 0;
}



.node {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #FFF;
  left: -1px;
  z-index: 1;
  cursor: pointer;
  border-radius: 3px;
}
.node:hover {
  background: #000;
}
.node:hover span {
  opacity: 1;
}
.node:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: -3px;
  top: -3px;
}
.node span {
  content: "wehba ";
    transition: all 0.4s ease-out;
    text-transform: uppercase;
    right: 14px;
    top: -16px;
    color: #fff;
  background: black;
    position: absolute;
    padding: 10px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat";
    opacity: 0;
}

.node span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}




/* progress-indicator */
.progress-indicator {
    position: fixed;
    top: 30px;
    right: 10px;
    width: 100px;
    height: 100px;
}
.progress-indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 89%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #0A74DA;
}
.progress-count {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #0082FF;
}
 
.indicator {
    height: 100px;
    position: fixed;
    right: 10px;
    top: 30px;
    width: 100px;
}
circle {
    fill: rgba(255,255,255,0.9);
}
 
svg .animated-circle {
    fill: transparent;
    stroke-width: 40px;
    stroke: #0A74DA;
    stroke-dasharray: 126;
    stroke-dashoffset: 126;
}

.progress-indicator-2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #0A74DA;
}





/* ---Statistics--- */
#fo_stat #s0 tr:nth-child(2) .row2 div:nth-child(1) strong{font-size:25px;padding-top:8px;font-family:Georgia;}
#fo_stat #s0 tr:nth-child(8) .row2 p strong{font-size:32px;padding-top:8px;font-family:Georgia}
#fo_stat #s0 tr:nth-child(8) .row2 p{padding-top:4px;padding-bottom:3px}
#fo_stat #s0 tr:nth-child(8) .row2 p:nth-child(1) strong{color:deepSkyBlue}
#fo_stat #s0 tr:nth-child(8) .row2 p:nth-child(2) strong{color:yellowGreen}
#fo_stat #s0 tr:nth-child(8) .row2 p:nth-child(4) strong{color:#EBEB00}


#Notification {
  display: block;
  position: fixed;
  top: 10%;
  right: -50%;
  margin: 0;
  z-index: 999;
}

#Notification b {
    position: relative;
    top: -5px;
    padding-top: 6px;
    padding-left: 16px;
    padding-right: 8px;
    padding-bottom: 8px;
    color: #efefef;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    background-color: #16CC33;
}

#Notification .Notification-guest {
  padding: 10px;
  vertical-align: top;
  color: #171717;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  background-color: #efefef;
  box-shadow: 8px 5px 20px -5px rgba(0, 0, 0, 0.5);
}


.score{padding-top:20px}.pnsmall{font-size:10px;font-style:italic;margin-top:-5px}.tipsy{font-size:10px;padding:5px;position:absolute;z-index:999}
.tipsy-inner{
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 background-color:#000;
 border-radius:3px;color:#FFF;
 max-width:200px;padding:5px 8px 4px;text-align:center}
.tipsy-arrow{border:5px dashed #000;height:0;line-height:0;position:absolute;width:0}
.tipsy-arrow-n{border-bottom-color:#000}
.tipsy-arrow-s{border-top-color:#000}
.tipsy-arrow-e{border-left-color:#000}
.tipsy-arrow-w{border-right-color:#000}
.tipsy-n .tipsy-arrow{border-bottom-style:solid;
border-left-color:transparent;
border-right-color:transparent;
border-top:none;left:50%;
margin-left:-5px;top:0}
.tipsy-nw .tipsy-arrow{border-bottom-style:solid;
border-left-color:transparent;
border-right-color:transparent;
border-top:none;left:10px;top:0}
.tipsy-ne .tipsy-arrow{border-bottom-style:solid;
border-left-color:transparent;
border-right-color:transparent;
border-top:none;right:10px;top:0}
.tipsy-s .tipsy-arrow{border-bottom:none;
border-left-color:transparent;
border-right-color:transparent;
border-top-style:solid;
bottom:0;left:50%;margin-left:-5px}
.tipsy-sw .tipsy-arrow{border-bottom:none;border-left-color:transparent;
border-right-color:transparent;
border-top-style:solid;bottom:0;left:10px}
.tipsy-se .tipsy-arrow{border-bottom:none;border-left-color:transparent;
border-right-color:transparent;
border-top-style:solid;bottom:0;right:10px}
.tipsy-e .tipsy-arrow{border-bottom-color:transparent;
border-left-style:solid;border-right:none;
border-top-color:transparent;margin-top:-5px;right:0;top:50%}
.tipsy-w .tipsy-arrow{border-bottom-color:transparent;
border-left:none;border-right-style:solid;
border-top-color:transparent;left:0;margin-top:-5px;top:50%}

.author-rank {
    margin: -60px 0 -50px 110px;
}
.post-entry {text-align: center;}
